DJANGO_SECRET_KEY=cooptech-tulcan-risk-core-academico-2026
SUPABASE_PROJECT_ID=zfjgepbaokxeavipjxoi
SUPABASE_PROJECT_URL=
SUPABASE_ANON_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_DB_HOST=db.zfjgepbaokxeavipjxoi.supabase.co
SUPABASE_DB_PORT=5432
SUPABASE_DB_NAME=postgres
SUPABASE_DB_USER=postgres
SUPABASE_DB_PASSWORD=krizzen2026
VITE_GROQ_API_KEY=